name: Docker Compose Test

on:
  push:
    branches: ["main"]

jobs:
  compose-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull the image
        run: |
          docker pull ghcr.io/${{ github.repository_owner }}/webapp:3

      - name: Run App with Docker Compose
        run: |
          docker compose up -d
          sleep 5
          curl -v http://localhost:3000

      - name: Stop Docker Compose
        if: always()
        run: |
          docker compose down
